<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s36.gdin01">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SEND_SMS" />


    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:process=":service">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <GDinCategory android:name="android.intent.GDinCategory.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SettingActivity"
            android:process=":service">

        </activity>

        <service
            android:name="com.example.s36.gdin01.main.GDinService"
            android:enabled="true"
            android:exported="true"
            android:process=":service">
            <intent-filter>
                <action android:name="com.example.s36.gdin01" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.example.s36.gdin01.receivers.PwrReceiver"
            android:process=":service">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.s36.gdin01.receivers.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS"
            android:process=":service">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>